<h1>Log In</h1>

<% form_for :user do |form| %>
    <p>
      <strong><%= form.label :username %></strong>
      <%= form.text_field :username, :size => 20 %>
    </p>
    <%= javascript_tag "$('user_username').focus()" %>
    <p>
      <strong><%= form.label :password %></strong>
      <%= form.password_field :password, :size => 20 %>
    </p>
    <div class="buttons">
      <button type="submit" class="positive" value="Login">
        <%= image_tag 'door_in.png' %>Login
      </button>
    </div>
<% end -%>
