<div id="vial_maintenance">
  <div id="solution_notice">
    <% if @vial.solution && @vial.solution.number != nil %>
      <p>
        <img src='/images/star.png' />
        This is a solution to Problem #<%= @vial.solution.number %>.
      </p>
    <% end %>
  </div>
  
  <div id="submit_as_solution">
	<% remote_form_for :solution, @vial.solution, :url => {:action => :set_as_solution },
               :before => visual_effect(:appear, 'spinner_for_solution'),
               :complete => visual_effect(:fade, 'spinner_for_solution') do |form| -%>
	    <label for="solution_number"><strong>Submit as a solution to Problem # </strong></label>
		<%= form.select('number', 1..9, {:include_blank => true}, :onchange => "onsubmit()" ) %>
  		<div style="display: inline;"><%= image_tag '/images/green-load.gif', :id => 'spinner_for_solution', :style => 'display: none;' %></div>
		<%= form.hidden_field(:vial_id, :value => @vial.id) %>
	<% end -%>
  </div>
  <br />  
  <div id="move_vial_to_new_shelf">
	<% remote_form_for :vial, :url => { :action => :move_vial_to_another_shelf, :id => @vial.id },
               :before => visual_effect(:appear, 'spinner_for_move'),
               :complete => visual_effect(:fade, 'spinner_for_move') do |form| %>
		<label for="shelf_id"><strong>Move this vial to</strong></label>
		<%= form.collection_select(:shelf_id, current_user.current_shelves_without_trash, :id, :label, {}, :onchange => "onsubmit()" )%>
		<div style="display: inline;"><%= image_tag '/images/green-load.gif', :id => 'spinner_for_move', :style => 'display: none;' %></div>
	<% end %>
	<div id="move_notice"></div>
  </div>
</div>

