<% if flash[:error] -%>
<div class="error"><%= flash[:error] %></div>
<% end -%>
<%= error_messages_for 'vial' %>

<h1>Collect Field Vial</h1>

<% form_for :vial do |form| %>
    <p>
        <label for="vial_label"><strong>Label: </strong></label>
        <%= form.text_field :label, :size => 40 %>
		<%= javascript_tag "$('vial_label').focus()" %>
    </p>
    <p>
        <label for="vial_number_of_requested_flies"><strong>Number of flies: </strong></label>
        <%= form.text_field :number_of_requested_flies, :size => 5, :value => @flies_number %>
    </p>
	<p>
		<label for="rack_id"><strong>Rack:</strong> </label>
		<%= collection_select(:vial, :rack_id, current_user.current_racks_without_trash, :id, :label) %>
	</p>
    
    <div class="buttons">	
	<button type="submit" class="positive">
        <%= image_tag 'pill_add.png' %>Collect Field Vial</button>
	</div>
<% end %>