<h1>Your Vials</h1>

<div id="list-vials">
	<% for @shelf in @shelves -%>
		<h2>Vials on the <em><%= in_place_editor_field :shelf, 'label', {} %></em> rack:</h2>
		<!-- move some of this stuff into the stylesheet? -->
		<table id="shelf_<%= @shelf.id %>" width="100%">
    		<% @shelf.vials.in_groups_of(3, false).each do |group| -%>
			<tr>
				<%  group.each do |vial| -%>
	                <td id="vial_<%= vial.id %>" width="33%">
	                  <img src="/images/arrow.gif"> <%= link_to vial.label, :action => :view_vial, :id => vial %>
					  <% if vial.solution && vial.solution.number != nil -%>
					    <%= image_tag '/images/star.png', :title => "Solves Problem ##{vial.solution.number}" %>
	                  <% end -%>
					</td>
				<% end -%>
			</tr>
			<% end -%>
		</table>
	<% end -%>
</div>
<br />
<div id="toggle-trash">
<p><%= link_to_function('Show/Hide your Trash', "Effect.toggle('trash-list', 'appear')") %></p>
	<div id="trash-list" style="display: none;">
		<ul>
		<% @trash.vials.each do |vial| %>
			<li id="vial_<%= vial.id %>"><%= link_to vial.label, :action => :view_vial, :id => vial %></li>	
		<% end %>
		</ul>
	</div>
</div>
