<ul class="list">
  <li>Courses
    <ul>
      <li><%= link_to "List courses", instructor_courses_path %></li>
      <li><%= link_to "Add a course", new_instructor_course_path %></li>
    </ul>
  </li>
  <li>Scenarios
    <ul>
      <li><%= link_to "List all scenarios", :action => :list_scenarios, :id => "all" %></li>
      <li><%= link_to "List your scenarios", :action => :list_scenarios, :id => "your" %></li>
      <li><%= link_to "Add scenario", :action => :add_scenario %></li>
    </ul>
  </li>
  <li>Students
    <ul>
      <li><%= link_to "Add a student", :controller => :users, :action => :add_student %></li>
      <li><%= link_to "Batch add students", :controller => :users, :action => :batch_add_students %></li>
      <li><%= link_to "Change student password", :controller => :users, :action => :change_student_password %></li>
    </ul>
  </li>
  <li><%= link_to "Change your password", :controller => :users, :action => :change_password %></li>
</ul>
