<h1><%= @howmany.capitalize %> Scenarios</h1>
<%= link_to "all scenarios", :action => :list_scenarios, :id => "all" %> |
<%= link_to "your scenarios", :action => :list_scenarios, :id => "your" %>

<div id="list-scenarios">
	<ul>
		<% for scenario in @scenarios -%>
            <li id=<%= scenario.id %> >
              <%= link_to h(scenario.title), :action => :view_scenario, :id => scenario %> 
			  <% if current_user.owns? scenario -%>
			  	<%= link_to image_tag("cross.png"), { :action => "delete_scenario", :id => scenario.id }, :confirm => "Delete the \"#{scenario.title}\" scenario?", :method => :post -%>
			  <% end -%>
            </li>
		<% end -%>
	</ul>
</div>
