<% if flash[:notice] -%>
	<div class="notice"><%= flash[:notice] %></div>
<% end -%>

<h1>Your Courses</h1>

<div id="list-courses">
	<ul>
		<% for course in @courses -%>
            <li id=<%= course.id %> >
              <%= link_to course.name, :action => :view_course, :id => course %> 
			  <%= link_to image_tag("cross.png"),
                          { :action => "delete_course", :id => course.id },
                          :title => "Delete #{course.name}", 
                          :confirm => "Delete the \"#{course.name}\" course?",
                          :method => :post -%>
            </li>
		<% end -%>
	</ul>
</div>

<% if @courses.empty? -%>
  <p>
  	You do not have any courses at the moment!<br />
    <%= link_to "Create a new course here", :action => :add_course %>
  </p>
<% end -%>
