<h1>Instructor Cheat Sheet</h1>

<div id="cheat-sheet">
	<h3>Species: <%= h(@species_name) %></h3>
	<table>
		<tr>
			<th style="width:50px">Character</th>
			<th style="width:50px">Homozygous Recessive</th>
			<th style="width:50px">Heterozygous</th>
			<th style="width:50px">Homozygous Dominant</th>
			<th style="width:50px">Alelle Location</th>
			<th style="width:50px">Sex Linked</th>
			<th style="width:50px">Randomizable</th>
		</tr>
		<% for character in @characters -%>
		<tr>
			<th><%= h(character[:name]) %></th>
			<td><%= h(character[:rec]) %></td>
			<td><%= h(character[:het]) %></td>
			<td><%= h(character[:hom_dom]) %></td>
			<td><%= h(character[:location]) %></td>
			<td><%= h(character[:sex_linked]) %></td>
			<td><%= h(character[:randomizable]) %></td>
		</tr>
		<% end -%>
	</table>
	<p>
		<em class="instruction">Note: characters with locations closer than 0.5 from each other are linked.</em>
	</p>
</div>
